@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 220 100% 97%;
    --foreground: 225 15% 25%;
    --card: 0 0% 100%;
    --card-foreground: 225 15% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 225 15% 25%;
    --primary: 231 48% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 30% 94%;
    --secondary-foreground: 225 15% 25%;
    --muted: 220 30% 94%;
    --muted-foreground: 225 10% 45%;
    --accent: 261 60% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 88%;
    --input: 0 0% 100%;
    --ring: 231 48% 53%;
    --chart-1: 231 48% 53%;
    --chart-2: 261 60% 65%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 225 15% 25%;
    --sidebar-primary: 231 48% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 100% 97%;
    --sidebar-accent-foreground: 231 48% 53%;
    --sidebar-border: 220 20% 88%;
    --sidebar-ring: 231 48% 53%;
  }
  .dark {
    --background: 225 15% 15%;
    --foreground: 220 100% 97%;
    --card: 225 15% 18%;
    --card-foreground: 220 100% 97%;
    --popover: 225 15% 18%;
    --popover-foreground: 220 100% 97%;
    --primary: 231 48% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 15% 25%;
    --secondary-foreground: 220 100% 97%;
    --muted: 225 15% 25%;
    --muted-foreground: 220 20% 75%;
    --accent: 261 60% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 15% 25%;
    --input: 225 15% 25%;
    --ring: 231 48% 53%;
    --chart-1: 231 48% 53%;
    --chart-2: 261 60% 65%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 225 15% 18%;
    --sidebar-foreground: 220 100% 97%;
    --sidebar-primary: 231 48% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 15% 25%;
    --sidebar-accent-foreground: 231 48% 53%;
    --sidebar-border: 225 15% 25%;
    --sidebar-ring: 231 48% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
